.vscode

# this is the result of the backup method
server/api/*.sql

# Ignore database directories
/**/mysql/*
!/**/mysql/.gitkeep

*.txt

# Globally ignore dotenv environment variables files
.env
.env.test
.env.local
.env.*.local
